

.itemConstClass {
  width: 100%;
  display: flex;
  justify-items:space-between;
  column-gap: 1rem;
  padding: 1rem;
  align-items: center;
  transition: all 0.5s ease;

  p {
    font-size: 16px;
  }

  span {
    font-size: 20px;
  }
  
  @media (min-width: 768px) {

    column-gap: 3rem;
    
    p {
      font-size: 26px;
    }
  
    span {
      font-size: 22px;
    }

  }
  
}

.activeItem {
  opacity: 1;
  font-weight: 700;
  transform: translateX(-5%);
  background-color: var(--primary-normal);
  color: var(--neutral-light);
}

.normalVisibleItem {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  transform: translateX(0%);
  background-color: var(--primary-light-hover);
  color: var(--neutral-dark);
}

.invisibleItem {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  transform: translateX(100%);
}