@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --primary-dark-hover: #1E2227;
  --primary-light: #EBEBEC;
  --primary-light-hover: #E0E1E3;
  --accent-normal: #23BC7C;
  --neutral-light: #eeeeee;
  --neutral-dark: #3e3e3e;
  --primary-normal-hover: #2D333B;
}

/* dark mode is disabled for now, enable it in the ThemeContext */
[data-theme='dark'] {
  /* --background: #0a0a0a;
  --foreground: #ededed; */
}

body {
  color: var(--foreground);
  background: var(--primary-light);
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* fonts imported here */
/* @font-face {
  font-family: 'iransans';
  src: url('../Assets/fonts/IRANSansXFaNum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'iransans';
  src: url('../Assets/fonts/IRANSansXFaNum-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'iransans';
  src: url('../Assets/fonts/IRANSansXFaNum-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'iransans';
  src: url('../Assets/fonts/IRANSansXFaNum-DemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



