@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Light mode background */
  --foreground: #171717; /* Light mode foreground */
}

[data-theme='dark'] {
  :root {
    --background: #0a0a0a; /* Dark mode background */
    --foreground: #ededed; /* Dark mode foreground */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
